* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
}

body {
  font-family: Cera Pro;
}

header {
  margin-bottom: 12px;
}

.logo {
  max-width: 150px;
  max-height: 35px;
}

.header-line {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.4);
}

.header-info {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  text-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 16px;
}

.nav-list {
  display: flex;
  gap: 25px;
  position: absolute;
  top: 9px;
  left: 29%;
}

.nav-item {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 16px;
  color: #3D3D3D;
  padding-bottom: 24px;
  border-bottom: solid 0 transparent
}

.nav-item:hover {
  border-bottom: solid 3px rgba(70, 163, 88, 1);
}

.parent {
  position: relative;
}

.child {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

.parent:hover>.child {
  display: block;
}

li:has(ul):not(:has(.nav-item))::after {
  content: ">";
  position: absolute;
  right: 15px;
  color: black;
  transition: all 0.1s ease;
}

li:has(ul):not(:has(.nav-item)):hover::after {
  content: "<";
  color: white;
  right: 15px;
}

.nav-list>.parent>.child {
  top: 100%;
  left: 0;
}

.nav-item {
  background-color: white;
  display: inline-block;
}

.child>.nav-element {
  padding: 8px 14px;
  background-color: #EDF6EE;
  min-width: 190px;
}

.child>.nav-element:hover {
  background-color: #1A712A;
  transition: all 0.3s ease;
}

.child li:hover>a {
  color: white;
}

.header-btns {
  display: flex;
  gap: 30px;

  align-items: center;
}

.header-btns a {
  text-align: center;
}

.search-icon {
  max-width: 20px;
  max-height: 20px;
  transition: all 0.3s ease;
}

.search-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cart-icon {
  max-width: 24px;
  max-height: 24px;
  transition: all 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.lgn-btn {
  display: flex;
  gap: 4px;
  background-color: #46A358;
  border-radius: 6px;
  padding: 8px 18px;
  color: white;
  font-family: Cera pro, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
}

.lgn-btn:hover {
  background-color: #33723f;
}

.wraper {
  background-color: #F5F5F580;

}

.wraper-info {
  max-width: 50%;
  width: 100%;
  display: inline-block;
  padding: 91px 0px 85px 40px;
  vertical-align: top;
  margin-right: 85px;
}

.wraper-suptitle {
  color: #3D3D3D;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.wraper-title {
  color: #3D3D3D;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.wraper-title-planet {
  color: #46A358;
}

.wraper-text {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  max-width: 535px;
  margin-bottom: 44px;
}

.wraper-btn {
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #46A358;
  padding: 11px 27px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.wraper-btn a {
  color: white;
}

.wraper-btn:hover {
  background-color: #33723f;
  cursor: pointer;
}